* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* classi utility */

.bg-green {
  background: green;
}

.bg-red {
  background: red;
}

/* /classi utility */

body {
  text-align: center;
}

i {
  position: absolute;
  right: 50%;
  top: 90%;
}

section {
  padding: 20px;
}

.products {
  margin: 0;
}

.product {
  position: relative;
  display: inline-block;
  width: 300px;
  height: 375px;
}

.sconto {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
}

.cuore {
  display: none;
  color: red;
}

.product:hover > .cuore {
  display: block;
}
